.buttonContainer{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 15vw;
    right: 2%;
    bottom: 2%;
}

.deleteAll, .deleteDone {
    background-color: #454C64;
    border-radius: 5px;
    border: none;
    scroll-margin-right: 1%;
    font-size: 2vw;
    height: 50px;
    margin: 2%;
}

.deleteAll:hover, .deleteDone:hover {
    background-color: #b46378;
}