.appContainer{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.buttonContainer{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.deleteAll, .deleteDone {
    background-color: #454C64;
    border-radius: 5px;
    border: none;
    font-size: 1.8vw;
    width: 20vw;
    height: 6vh;
    margin-left: 1%;
    margin-right: 1%;
}

.deleteAll{
    background-color: #B46378;
}


.deleteAll:hover, .deleteDone:hover {
    background-color: #B23557;
}

@media only screen and (max-width: 600px) {

    .deleteAll, .deleteDone {
        background-color: #454C64;
        border-radius: 5px;
        border: none;
        font-size: 4vw;
        width: 45%;
    }

    .deleteAll{
        background-color: #B46378;
    }


    .deleteAll:hover, .deleteDone:hover {
        background-color: #454C64;
    }
}
