@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
  font-family: 'Quicksand', sans-serif;
  font-size: 4vh;
  color: #cfcfcf;
  background-color: #1A1C27;
}

body {
  text-align: center;
  margin: 2%;
}